.row  iframe {
    width: 100%;
}

.card-noticias {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-noticias .card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-noticias .card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-noticias .card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-noticias .card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-noticias .card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.card-noticias .card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.card-noticias .profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.card-noticias .profile-avatar {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.card-noticias .profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.card-noticias .profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.card-noticias .text-bold {
    font-weight: 700;
}

.card-noticias .meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.card-noticias .meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.card-noticias .meta a:hover {
    color: rgba(0, 0, 0, .87);
}